.card-body {
    padding: 13px;
}


.btn-outline-dark {
    padding: 3px 4px;
    font-size: 12.5px;
    width: 110px;
}

.btn-outline-danger {
    padding: 3px 4px;
    font-size: 12.5px;
    width: 110px;
}
