.newsletter-container {
  margin-top: 50px;
}

.newsletter-container h2 {
  font-size: 12px;
  color: #ee7b0b;
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 700 !important;
  font-family: enFont;
  border-bottom: 2px solid;
  width: fit-content;
}

#terms-and-conditions {
  font-size: 12.5px;
}
a {
  color: #ee7b0b;
  font-size: 12px;
}

.settings-button,
.newsletter-button {
  padding: 10px 15px;
  border: 1px solid #ccc; 
  border-radius: 5px; 
  background-color: #f8f9fa; 
  color: #333; 
  cursor: pointer;  
  transition: background-color 0.3s, border-color 0.3s; 
}

.settings-button{
  width: fit-content; 
  font-size: 13px;
  height: 35px;
}

.settings-button:hover,
.newsletter-button:hover {
  background-color: #e2e6ea;
}
.settings-button:focus,
.newsletter-button:focus {
  outline: none; 
}
